<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <b>SNSnunModa?</b> is a website that replicates a popular short messaging platform "Twitter".
  <br>
  You can post your garbages, follow other users for their garbages, and waste your life!
</p>