<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  "You can post your garbages, follow other users for their garbages, and waste life!"
  <br><br>
  <b>"SNS는모다?"</b>는 인기있는 숏 메세징 플랫폼인 '트위터'의 기능을 참고한 웹 애플리케이션입니다.
  <br>
</p>