<div class="wall">
  <div class="container">
    <h1>트위터는 인생의 낭비다.</h1><br><br><br>
    <p>인생에는 더 많은 것들을 할 수 있다.<br>차라리 독서를 하기를 바란다.</p><br><br><br><br>
    <p>- 알렉스 퍼거슨 前 축구 감독 (Manchester Utd.)<br><br><br><br><br>
    <p><%= link_to "지금 가입하세요!", signup_path, class: "btn btn-large btn" %></p>
  </div>
</div>